<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devices</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<form method="post" action="/devices">
    <input type="submit" class="btn btn-primary" name="get" value="get_value">
    <input type="submit" class="btn btn-primary" name="set" value="set_value">
</form>

{% if device_id is not none %}
    <div>{{device_id}}</div>
{% else %}
    <div>The Default Thing</div>
{% endif %}
{% endblock %}
</body>
</html>